.button
  padding: 5px 10px
  color: #ffffff
  border: 1px solid #4f005f
  background: #4f005f
  cursor: pointer

  &:hover,
  &:active
    background-color: #741188
    border-color: #741188

  &:focus
    outline: none
